/*General*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #wrap {
        display: block;
        margin: auto;
    }
    ul,
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
/*Header*/
    header {
        background-color: gold;
        padding-top: 5px;
    }
    #logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #logo img {
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        margin-top: 5px;
    }
    .navbar-brand {
        color: crimson;
    }
    .navbar-brand:hover {
        cursor: default;
        color: gray;
    }
    .nav-item {
        color: silver;
        margin-left: 35px;
        font-family: "Times New Roman";
        font-size: 25px;
    }
    .nav-item:hover {
        cursor: pointer;
        color: white;
    }
    .form-inline button {
        background-color: white;
        margin-left: 1px;
    }
/*Home*/
    #line {
        margin-top: 50px;
        text-align: center;
        font-size: 50px;
        font-family: "Courier New";
        font-variant: small-caps;
    }
    .carousel-inner img {
        width: 100%;
        height: 100%;
        border: 3px solid black;
    }
    .carousel-caption {
        font-family: "Courier New";
        font-size: 47px;
        font-variant: small-caps;
    }
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
        padding: 5px;
    }
    .column img {
        position: relative;
        margin-top: 25px;
        margin-left: 100px;
        width: 75%;
        height: 75%;
        border: 3px solid black;
    }
    .column img:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    .column button {
        font-family: "Times New Roman";
        font-size: 20px;
        padding: 10px;
        margin-left: 200px;
        margin-top: 25px;
        position: absolute;
        display: block;
    }
    .column button:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
/*List*/
    .container {
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
    } 
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    .col-4 {
        max-width: calc(100%/4);
        flex-basis: calc(100%/4);
        padding: 15px;
    }
    .col-4 .block-item .picture img {
        width: 100%;
        border: 1px solid black;
    }
    .col-4 .block-item .picture img:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    .col-4 .text {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    .col-4 .text .infor {
        color: #888;
    }
    .col-4 .text .infor p:hover {
        cursor: pointer;
        opacity: 0.7;
        text-decoration: underline;
    }
    .col-4 .icon i:hover {
        cursor: pointer;
        opacity: 0.7
    }
/*Detail*/
    .col-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
    .col-6 .picture img {
        width: 100%;
        height: 500px;
        border: 1px solid black;
    }
    .col-6 .button-cart {
        border: 1px solid transparent;
        border-radius: 23px;
        background-color: dodgerblue;
        display: inline-block;
        padding: 10px 25px;
        margin-top: 10px;
        margin-left: 130px;
    }
    .col-6 .button-cart .button-add a {
        color: white;
        text-decoration: none;
    }
    .button-cart:hover {
        opacity: 0.7;
    }
/*Footer*/
    .footer {
        background-color: #222222e6;
        margin-top: 10px;
    } 
    .row {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    } 
    .col-3 {
        max-width: calc(100%/4);
        flex-basis: calc(100%/4);
        padding: 15px;
    }
    .col-3 .title h2 {
        padding: 25px 0px;
        font-size: 16px;
        color: white;
    } 
    .col-3 .list-menu li {
        padding-top: 8px;
    }
    .col-3 .list-menu li a {
        padding-top: 10px;
        line-height: 1.3;
        color: #b2b2b2;
    }
    .col-3 .contact p {
        color: #b2b2b2;
    }
    .col-3 .social {
        display: flex;
        padding-top: 25px;
    }
    .col-3 .social a {
        padding-right: 30px;
        color: #b2b2b2;
    }
    input [type=text] {
        border: none;
        border-bottom: 2px solid #b2b2b2;
    }
    .col-3 .button {
        padding-top: 40px;
    }
    .col-3 .button a {
        padding: 10px 30px;
        background-color: #717fe0;
        color: white;
        border-radius: 23px;
    }
    .payment {
        display: flex;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .payment img {
        padding: 5px;
    }
    .footer-bottom p {
        padding-bottom: 20px;
        text-align: center;
        color: #b2b2b2;
    }
    .footer-bottom p a {
        color: #007bff;
    }
 /*End*/