/*General*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #wrap {
        text-align: center
    }
    ul,
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
/*Buttons*/
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons .button-view {
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 0.8px;
    text-decoration: none;
    position: absolute;
    top: 50%;
}
.buttons .button-insert {
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-size: 18px;    
    border-radius: 0.8px;
    text-decoration: none;
    position: absolute;
    top: 50%;
}